<footer
  {% if page.figure %}
    class="figure-page"
  {%- endif -%}
>

  <span>
    {%- if page.date -%}                  {% comment %} A dated page is a post page {% endcomment %}
      &copy;&nbsp;

      {%- if page.lang == "en" -%}   {% comment %} Add english date and author name {% endcomment %}

        {{- page.date | date: "%-d %b %Y" -}}
        &nbsp;・&nbsp;
        {{- site.author-en -}}

      {%- else -%}                    {% comment %} Add normal date and author name {% endcomment %}

        {{- page.date | date: "%Y 年 %-m 月 %-d 日" -}}
        &nbsp;・&nbsp;
        {{- site.author -}}

      {%- endif -%}

    {%- else -%}                               {% comment %} Add date and site name {% endcomment %}

      {{- site.time | date: "%Y-%-m" -}}
      &nbsp;・&nbsp;
      {{- site.title -}}

    {%- endif -%}
  </span>

  <nav>
    {%- for item in site.data.nav -%}

      {%- if item.link != page.url -%}

          <a href="{{ item.link }}">{{- item.name -}}</a>

      {%- endif -%}

    {%- endfor -%}
  </nav>

</footer>