<footer
  {% if page.figure %}
    class="figure-page"
  {%- endif -%}
>

  <span>
    {%- if page.lang == "en" -%}

      {%- if page.date -%}
        &copy;&nbsp;
        {{- page.date | date: "%-d %b %Y" -}}
        &nbsp;・&nbsp;
        {{- site.author-en -}}
      {%- else -%}
        {{- site.time | date: "%Y" -}}
        &nbsp;・&nbsp;
        {{- site.title-en -}}
      {%- endif -%}

    {%- else -%}

      {%- if page.date -%}
        &copy;&nbsp;
        {{- page.date | date: "%Y 年 %-m 月 %-d 日" -}}
        &nbsp;・&nbsp;
        {{- site.author -}}
      {%- else -%}
        {{- site.time | date: "%Y–%m" -}}
        &nbsp;・&nbsp;
        {{- site.title -}}
      {%- endif -%}

    {%- endif -%}
  </span>

  <nav>
    <tr>
      {%- for item in site.data.nav -%}

        {%- if item.link != page.url -%}

          <span>
            <a href="{{ item.link }}">
            {%- if page.lang == "en" -%}
              {{- item.name-en -}}
            {%- else -%}
              {{- item.name -}}
            {%- endif -%}
            </a>
          </span>

          {%- endif -%}

      {%- endfor -%}
    </tr>
  </nav>

</footer>