<footer
  {% if page.figure %}
    class="figure-page-footer"
  {%- endif -%}
>

  {%- if page.date -%}
    {{- page.date | date: "%Y - %m - %-d" -}}
  {%- else -%}
    {{- site.time | date: "%Y - %m" -}}
  {%- endif -%}

   ・ 
  {%- if page.copyright -%}
    {{- site.author -}}
  {%- else -%}
    {{- site.title -}}
  {%- endif -%}

  {% comment %} Show license {% endcomment %}
  {%- if page.copyright -%}
     ・ CC BY - NC - SA 4.0
  {%- endif -%}

  <nav>
    {%- for item in site.data.navigation -%}

      {%- if item.link != page.url -%}
          <a href="{{ item.link }}">{{- item.name -}}</a>
      {%- endif -%}

    {%- endfor -%}
  </nav>

</footer>