<nav>
  <hr>
  <p>
    晓航的网站・Shon's Site
  </p>

  <p>
    {% for item in site.data.nav %}
    {% if item.link != page.url %}
      <a href="{{ item.link }}">{{ item.name }}</a>
    {% endif %}
    {% endfor %}
  </p>

  <p>
    此内容是原作；作者是 Shon Li。<br>请遵从<a target="_blank" rel="license"
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">署名-非商业性使用-相同方式共享 4.0 国际（CC BY-NC-SA 4.0 DEED）</a>协议。<br>感谢阅读。来信请寄 <a target="_blank" href="mailto:hi@shon.li">hi@shon.li</a>。
  </p>
</nav>