---
# Front matter
---

// Light scheme
$space-light:       hsl(0, 0%, 65%);
$paper-light:       hsl(46, 100%, 99%);
$text-light:        hsl(46, 15%, 25%);
$text-alt-light:    hsl(46, 2%, 50%);
$footer-text-light: hsl(46, 5%, 25%);
$accent-light:      hsl(215, 100%, 50%);

// Dark scheme
$space-dark:        hsl(0, 0%, 15%);
$paper-dark:        hsl(46, 2%, 30%);
$text-dark:         hsl(46, 10%, 90%);
$text-alt-dark:     hsl(46, 1%, 60%);
$footer-text-dark:  hsl(46, 10%, 90%);
$accent-dark:       hsl(55, 100%, 45%);

// Margin
$margin-max: 7em;
$margin-medium: 4em;
$margin-minimum: 2em;


html {
  --color-space:       $space-light;
  --color-paper:       $paper-light;
  --color-text:        $text-light;
  --color-text_alt:    $text-alt-light;
  --color-footer-text: $footer-text-light;
  --color-accent:      $accent-light;
}

// Remove default styles from browsers
// h1, h2, h3, h4, h5, h6,
// p, blockquote, pre, hr,
// dl, dd,
body,
figure {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-space);
}

@media (prefers-color-scheme: dark) {
  html {
    --color-space:       $space-dark;
    --color-paper:       $paper-dark;
    --color-text:        $text-dark;
    --color-text_alt:    $text-alt-dark;
    --color-footer-text: $footer-text-dark;
    --color-accent:      $accent-dark;
  }
}

/**
  * Calculate top and bottom padding
  * Article width is 71.8vw
  * 61.8 * ( 1 - 0.718 ) / 2 = 8.7
  * Visually ~= 8vw
  */

main {
  width: 61.8vw;
  max-width: 595pt;
  margin: 38.21vh auto 38.21vh auto;
  padding: 8vw 0 8.7vw 0;

  border-radius: 2px;
  background-color: var(--color-paper);
}

figure {
  // margin: 38.21vh auto -38.21vh auto;
  width: 61.8vw;
  max-width: 595pt;
  height: 61.8vh;
  max-height: 842pt;

  video,
  img {
    display: block;
    width: 100%;

    // margin: 38.21vh auto 0 auto;

    object-fit: scale-down;
    border-radius: 2px;
  }

}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

article {
  width: 71.8%;
  margin: auto;

  color: $text-light;
  font-family: 'Noto Serif SC', serif;
  font-size: large;
  font-weight: 400;
  line-height: 2.1;
  letter-spacing: .20em;
  word-break: break-word;
  text-align: justify;
}

footer {
  margin: 0 auto .8em auto;
  color: var(--color-text_alt);
  overflow-x: auto;
  display: flex;

  table{
    // width: 38.19vw;
    border: none;
    margin: auto;
    text-align: left;

    td {
      border-radius: 2px;
      border: none;
    }
  }
}

.copyright {
  text-align: right;
}