---
# These styles load for all pages
---

/*-------------------------------------- 0. Initialisation ---------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Serif+SC:wght@200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  box-sizing: border-box;                       // Include padding and border into size calculations
}

:root {
  font-size: large;                        // Root font size is used as a metric for `--paper_width'
}

body {
  --color_space:     hsl(0, 0%, 10%);
  --color_paper:     hsl(46, 2%, 30%);
  --color_text:      hsl(46, 10%, 80%);
  --color_paper_alt: hsl(46, 1%, 50%);
  --color_accent:    hsl(55, 100%, 60%);
  --paper_width:     41rem;

  animation-name: slideUpAnimation;
  animation-timing-function: ease;
  animation-duration:  1.5s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slideUpAnimation {
  0% {
      padding-top: 4rem;
      opacity: 0;
  }

  100% {
      padding-top: 0;
      opacity: 1;
  }
}

/*--------------------------------------- 1. Common Pages ----------------------------------------*/

a:link,
a:visited {
  padding-bottom: 1px;
  color: var(--color_text);
  border-bottom: 1px dotted var(--color_text);
  text-decoration: none;
}

.url{                                          // `.url` selects `a` marked as url text on all pages
  font-family: "Roboto Mono", monospace;
}

a:hover {
  text-decoration: none;

  animation-name: underlineAnimation;
  animation-timing-function: ease;
  animation-duration: 1.5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes underlineAnimation {
  0% {
    border-bottom: 1px solid var(--color_accent);
  }

  100% {
    opacity: 1;
    border-bottom: .25em solid var(--color_accent);
  }
}

body {
  min-width: 16.5rem;
  margin: auto;
  background-color: var(--color_space);
}

main {
  max-width: var(--paper_width);
  margin: 37vh auto 0 auto;
  padding: 5em 5.2em 5em 5.2em;
  background-color: var(--color_paper);
  border-radius: 2px;
}

article {
  width:  auto;
  height: auto;
  margin: 0 auto;
  padding-left: .15em;
  color: var(--color_text);
  font-family: 'Noto Serif SC', serif;
  font-weight: 400;
  line-height: 2;
  letter-spacing: .125em;
  word-spacing: .06em;
  word-break: normal;
  text-align: left;

  > :first-child {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }

  > :last-child {                                                // Remove last item's bottom margin
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
}

h1:lang(en), h2:lang(en), h3:lang(en), h4:lang(en), h5:lang(en), h6:lang(en),
p:lang(en),
li:lang(en),
i:lang(en),
a:lang(en),
span:lang(en),
blockquote:lang(en) {
  letter-spacing: normal;
  word-spacing: .08em;
  hyphens: none;
}

h1, h2, h3, h4, h5, h6 {
  width: fit-content;
  max-width: 16em;
  height: auto;
  margin-bottom: -.25rem;
  padding-top: 1.25rem;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
}

ol,
ul {
  margin: 1rem auto;

  li ol,
  li ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

pre,
kbd,
code {
  margin-top: -.5em;
  background-color: var(--color_paper_alt);
  border-radius: 2px;
  font-family: "Roboto Mono", "Noto Sans SC", monospace, sans-serif;
  letter-spacing: normal;
  overflow-x: auto;
  hyphens: none !important;
}

pre {
  padding-left: .5em;
}

kbd,
code {
  padding: 0 .25em;
}

/*------------------------------------------ 2. Footer -------------------------------------------*/

footer {
  max-width: fit-content;
  margin: 1.25rem auto 32vh auto;
  color: var(--color_paper_alt);
  font-size: medium;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: .8em;

  a,
  a:link,
  a:visited {
    color: var(--color_paper_alt);
    border-bottom: 1px dotted var(--color_paper);
    font-family: 'Noto Sans SC', sans-serif;
  }

  a:hover {
    color: var(--color_accent);
  }

  nav {
    margin:auto;
    display: flex;
    flex-direction: row;
    column-gap: 1.6em;

    a {
      width: fit-content;
      height: max-content;
      margin: 0 auto;
    }
  }
}

/*-------------------------- 3. Adjust to color scheme or width change ---------------------------*/

@media (prefers-color-scheme: light) {
  body {
    --color_space:     hsl(0, 0%, 60%);
    --color_paper:     hsl(46 100% 99%);
    --color_text:      hsl(46, 15%, 25%);
    --color_paper_alt: hsl(46, 15%, 92%);
    --color_accent:    hsl(230, 100%, 50%);
  }
}

                           // Set breakpoint at a width that is a bit wider than desired paper width
@media screen and ( max-width: 46rem ) {                         // 46 rem ~= `--paper_width` + 4rem
  main {
    min-width: auto;
    max-width: auto;
    margin: .8rem ;
    padding: 1.8rem;
  }

  .figure-page {                        // `.figure-page` selects `main` in '/_layouts/default.html'
    margin-top: 6rem;
  }

  article {
    padding-top: .5rem;
    padding-bottom: 1rem;
    letter-spacing: normal;
    text-align: left !important;
  }

  .contents-table td {                      // `.contents-table` selects `table` in '/contents.html'
    vertical-align: top;
  }

  h1:lang(en), h2:lang(en), h3:lang(en), h4:lang(en), h5:lang(en), h6:lang(en),
  p:lang(en),
  li:lang(en),
  span:lang(en),
  blockquote:lang(en) {
    hyphens: auto !important;
  }

  h1 {                                               // Avoid leaving one character at the last line
    max-width: 9em;
  }

  blockquote {
    margin-left: .75rem;
    margin-right: .75rem;
  }

    a,
  pre,
  code {
    word-break: break-all;
  }

  figure {
    img,
    video {
      max-width: 88vw;
      max-height: 88vh;
    }
  }

  footer {
    margin-bottom: 8em !important;
    padding-left: 1.3rem;
    padding-right: 1.3rem;

    nav {
      margin-top: 5em;
      flex-direction: column;
      row-gap: 2em;
    }
  }
}

@media print {
  body,
  main {
    background-color: white !important;
  }

  figure {
    margin: auto;
  }

  main {
    margin: -1rem auto;
    padding: auto;
  }

  article {
    margin: auto;
    color: black !important;

    a {
      color: black !important;
    }
  }

  footer {
    display: none;
  }
}