@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #1A1A1A;
  display: flex;
  width: 100vw;
  height: 91vh;
  justify-content: center;
  align-items: center;
}

p {
  color: #E6E6E6;
  text-align: center;
  font-size: 24px;
  font-family: 'IBM Plex Mono', monospace;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}