---
# This style only load on index pages like contents
---

h1, h2, h3, h4, h5, h6 {
  padding-top: 0;
  margin: 0 auto auto auto;
}

.index-page{
  article {                    // `.index-page` selects `main` in '/_layouts/default.html'
    padding-left: 0;
    letter-spacing: normal;
  }
}


.contents-table,                               // `.contents-table` selects `table` in '/index.html'
.contents-table th,
.contents-table td {
  padding: 0;
  border: none;
}

.contents-table {
  width: 100%;
  margin: 0 auto 2.6em auto;

  td,
  td a {
    font-family: "Noto Sans SC", sans-serif;
  }

  td {
    padding: .8em 0 .8em .1em;
    font-weight: 380;
    vertical-align: baseline;
  }

  th {
    padding-bottom: 1em;
    vertical-align: middle;
  }
}

.contents-date-col {         // `.contents-table-col` selects the second `table td` in '/index.html'
  width: 5.2em;
  text-align: right;
}

.contents-date {         // `.contents-date` selects `.contents-table-col`'s `span` in '/index.html'
  font-family: "Roboto Mono", monospace;
  font-weight: 370;
}