 --ssize@viewport { width: device-width; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  --bg: #FFFEFA;
  --text: #262626;
  --alter: #4D4D4D;
  --link: #006AFF;
  --navbg: #F2F2F2;
  --navtext: #B2B2B2;
  --ssize: 13px;
  color: var(--text);
  background-color: var(--bg);
  display: block;
  width: 90%;
  max-width: 650px;
  font-family: 'Noto Sans SC', 'Source Han Sans SC', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: .02em;
  margin: 13.8vh auto 6em auto;
  padding-left: .2vw;
  word-wrap: normal;
}

@media (prefers-color-scheme: dark) {
  body {
    --bg: #1A1A1A;
    --text: #E5E5E5;
    --alter: #BFBFBF;
    --link: #E6D200;
    --navbg: #262626;
    --navtext: #666666;
  }
  img {filter: brightness(90%);}
}

@media only screen and (min-width: 1365px) {body{max-width:1024px;font-size:19px;--ssize:17px;}}

h1 {
  background: -webkit-linear-gradient(260deg, var(--alter), var(--text));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Noto Serif SC', 'Source Han Serif SC', serif;
  font-weight: 900;
  font-size: 90px;
  line-height: 1.42;
  letter-spacing: -.017em;
  margin: 0 0 .3em -.05em;
}

h2 {
  font-size: var(--subsize);
  line-height: 1.5;
  font-weight: 300;
}

.meta {
  color: var(--alter);
  border-top: 1px dotted var(--navtext);
  border-bottom: 1px dotted var(--navtext);
  font-weight: 300;
  display: inline-block;
  width: fit-content;
  margin: 0 0 1.3em -.02em;
  padding: .26em .01em .35em .01em;
}

.meta p {
  margin: 0;
  font-size: var(--subsize);
  line-height: 1.5;
}

h3, h4, h5, h6, dt {line-height: 2.3;}

h3, h5 {
  font-size: 1.26em;
  font-weight: 700;
}

h4, h6 {
  font-size: 1.12em;
  font-weight: 700;
}

h5, h6 {font-weight: 300;}

p, ul, ol, blockquote {margin-bottom: 1em;}

strong {font-weight: 600;}

hr {
  border: hidden;
  border-top: 1px dotted var(--navtext);
  max-width: 99.5%;
  height: 1px;
  margin: 2.5em 0 1.5em 0;
}

a {padding-bottom: .89px;}

p a {font-weight: 500;}

a:link {
  text-decoration: none;
  color: var(--link);
  border-bottom: 1px dotted var(--link);
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--link);
}

a:visited {
  text-decoration: none;
  color: var(--alter);
  border-bottom: 1px dotted var(--alter);
}

sup a {margin-left: .14em;}

.nav {
  background-color: var(--navbg);
  box-shadow: 0 0 4px -2px var(--navtext);
  border-radius: 2px 2px 4px 4px;
  top: 0;
  margin-left: 0;
  position: fixed;
  padding: .6em .5em .4em .5em;
  transition: all .2s ease-out;
  z-index: 9999;
}

.nav:hover {
  background-color: var(--text);
  padding: .6em .5em .6em .5em;
}

.nav a {
  text-decoration: none;
  border-bottom: none;
  color: var(--navtext);
  font-size: var(--ssize);
  letter-spacing: .1em;
  padding-left: .01em;
  margin: 0 .5em 0 .5em;
  position: relative;
}

.nav a:hover {
  color: var(--bg);
  font-weight: 500;
  transition: all .5s ease-out;
}

img {
  width: 99.5%;
  height: 100%;
  object-fit: scale-down;
  border-radius: 4px;
  margin-bottom: -.4em;
  z-index: auto;
}

pre, code, kbd {font-family: 'Source Code Pro', 'Noto Sans SC', monospace;}

code, kbd {padding: 0 .3em .12em .3em;}

kbd{
  border-radius: 2px;
  border: 1px dotted var(--navtext);
}

pre, code {
  background-color: var(--navbg);
  border-radius: 4px;
}

pre {
  border: 5px solid var(--navbg);
  line-height: 1.5;
  letter-spacing: normal;
  margin: -.5em .4em 1.2em .04em;
  padding: .7em;
  overflow-x: auto;
}

blockquote {
  border-left: 1px dotted var(--alter);
  margin: 0 1.66em 1.2em .95em;
  padding-left: 1.04em;
}

cite {
  color: var(--alter);
  font-style: normal;
}

ol {
  line-height: 2;
  margin-bottom: 1.1em;
  padding-left: 2.04em;
}

ul {
  padding-left: 2.06em;
  margin-bottom: 1.2em;
}

dl {margin-bottom: 1.2em;}

dt {font-weight: 700;}

dd {margin: 0 0 1em .95em;}

.toc {
  border-radius: 4px;
  border: 1px dotted var(--navtext);
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  width: -moz-max-content;
  width: fit-content;
  max-width: 99.5%;
  padding: .8em 1.6em 1em 2.56em;
  margin: .5em 0 1em 0;
}

table {
  width: fit-content;
  max-width: 99.5%;
  border-collapse: collapse;
  border-left: hidden;
  border-right: hidden;
  line-height: 1.8;
  margin: .5em .5em 1.2em .08em;
}

table code {
  color: var(--bg);
  background-color: var(--navtext);
}

th, td {
  border: 1px dotted var(--navtext);
  border-radius: 2px;
  padding: .14em 1em .12em 1em;
}

th {
  color: var(--bg);
  background-color: var(--alter);
  font-weight: normal;
}

tr:nth-child(even) {background-color: var(--navbg);}

@media only screen and (max-width: 700px) {
  p,a{word-wrap: break-word;}
  h1{font-size: 64px;}
  .toc{
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    padding-left: 3.06em;
  }
  .nav{padding-top: 1.1em;}
  .nav:hover{background-color: var(--alter);padding: 1.1em .5em .4em .5em;}
  .nav a:hover{text-decoration: none;}
  .nav:active{background-color: var(--text);}
  .nav a:active{color: var(--bg);font-weight: 500;}
}

.footer {
  color: var(--alter);
  border-top: 1px dotted var(--navtext);
  display: inline-block;
  width: fit-content;
  min-width: 10em;
  max-width: 99.5%;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: .04em;
  margin: 5em 0 6em 0;
  padding: .3em .1em 0 0;
}

.footer p{
  font-size: var( --ssize);
  margin-bottom: .1em;
}

.footer a {
  text-decoration: none;
  color: var(--alter);
  font-size: var( --ssize);
  font-weight: 300;
  border-bottom: 1px dotted var(--navtext);
}

.footer a:hover {border-bottom: 1px solid var(--navtext);}
