@viewport { width: device-width; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  --bg: white;
  --text: black;
  --alter: #4D4D4D;
  --link: #006AFF;
  --navbg: #F2F2F2;
  --navtext: #B2B2B2;
  color: var(--text);
  background-color: var(--bg);
  display: block;
  width: 100%;
  max-width: 99.5%;
  font-family: 'Noto Sans SC', 'Source Han Sans SC', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: .02em;
  margin: 1vh auto;
  padding-left: .2vw;
}

h1 {
  font-family: 'Noto Serif SC', 'Source Han Serif SC', serif;
  color: black;
  font-weight: 900;
  font-size: 90px;
  line-height: 1.42;
  letter-spacing: -.017em;
  margin: 0 0 .3em -.05em;
}

h3, h4, h5, h6, dt {
  line-height: 2.3;
}

h2 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

.metaInfo {
  color: var(--alter);
  border-top: 1px dotted var(--navtext);
  border-bottom: 1px dotted var(--navtext);
  font-weight: 300;
  display: inline-block;
  width: fit-content;
  max-width: 99.5%;
  margin: 0 0 1.3em -.02em;
  padding: .26em .01em .35em .01em;
}

.metaInfo p {
  margin: 0;
  line-height: 1.5;
}

h3, h5 {
  font-size: 1.26em;
  font-weight: 700;
}

h4, h6 {
  font-size: 1.12em;
  font-weight: 700;
}

h5, h6 {
  font-weight: 300;
}

p, ul, ol, blockquote {
  margin-bottom: 1em;
}

strong {
  font-weight: 600;
}

hr {
  border: hidden;
  border-top: 1px dotted var(--navtext);
  height: 1px;
  margin: 1.5em 0 1.5em 0;
}

a {
  padding-bottom: .89px;
}

p a {
  font-weight: 500;
}

a:link {
  text-decoration: none;
  color: var(--link);
  border-bottom: 1px dotted var(--link);
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--link);
}

a:visited {
  text-decoration: none;
  color: var(--alter);
  border-bottom: 1px dotted var(--navtext);
}

sup a {
  margin-left: .14em;
}

img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  border-radius: 2px;
  min-height: 150px;
  margin-bottom: -.4em;
}

pre, code, kbd {
  font-family: 'Source Code Pro', 'Noto Sans', monospace;
}

code, kbd {
  padding: 0 .3em .12em .3em;
}

kbd{
  border-radius: 2px;
  border: 1px dotted var(--navtext);
}

pre, code {
  background-color: var(--navbg);
  border-radius: 4px;
}

pre {
  border: 1px solid var(--navbg);
  line-height: 1.75;
  letter-spacing: normal;
  margin: -.5em .4em 1.2em .04em;
  padding: .7em;
  overflow-x: auto;
}

blockquote {
  border-left: 1px dotted var(--alter);
  margin: 0 2.16em 1.2em .95em;
  padding-left: 1.04em;
}

cite {
  color: var(--alter);
  font-style: normal;
}

ol {
  line-height: 2;
  margin-bottom: 1.1em;
  padding-left: 2.04em;
}

ul {
  padding-left: 2.06em;
  margin-bottom: 1.2em;
}

dl {
  margin-bottom: 1.2em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 0 1em .95em;
}

.toc {
  border-radius: 4px;
  border: 1px dotted var(--navtext);
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  width: 639px;
  padding: .8em 2em 1em 2.96em;
}

table {
  width: fit-content;
  max-width: 99.5%;
  border-collapse: collapse;
  border-left: hidden;
  border-right: hidden;
  line-height: 1.8;
  margin: .58em .5em 1.2em .08em;
}

table code {
  color: var(--bg);
  background-color: var(--navtext);
}

th, td {
  border: 1px dotted var(--navtext);
  border-radius: 2px;
  padding: .14em 1em .12em 1em;
}

th {
  color: var(--alter);
  font-weight: normal;
}

tr:nth-child(even) {
  background-color: var(--navbg);
}

.nav {
  background-color: var(--navbg);
  box-shadow: 0 0 4px -2px var(--navtext);
  border-radius: 4px 4px 2px 2px;
  bottom: 0;
  margin-left: 0;
  position: inline-block;
  width: fit-content;
  width: -moz-fit-content;
  padding: .4em .5em 1em .5em;
  transition: all .2s ease-out;
}

.nav:hover {
  background-color: var(--text);
  padding: .8em .5em 1em .5em;
}

.nav a {
  text-decoration: none;
  border-bottom: none;
  color: var(--navtext);
  font-size: 13px;
  letter-spacing: .1em;
  padding-left: .01em;
  margin: 0 .5em 0 .49em;
}

.nav a:hover {
  color: var(--bg);
  font-weight: 500;
}

.footer {
  color: var(--alter);
  border-top: 1px dotted var(--navtext);
  display: inline-block;
  width: fit-content;
  min-width: 10em;
  max-width: 99.5%;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: .04em;
  margin: 5em 0 6em 0;
  padding: .3em .1em 0 0;
}

.footer a {
  text-decoration: none;
  color: var(--alter);
  font-weight: 300;
  border-bottom: 1px dotted var(--navtext);
}

.footer a:hover {
  border-bottom: 1px solid var(--navtext);
}
