---
# Front matter that makes Liquid process this file
---

/*------------------------------------- 0. Define variables --------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Serif+SC:wght@200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  --color_space:    hsl(0, 0%, 60%);
  --color_paper:    hsl(46 100% 99%);
  --color_text:     hsl(46, 15%, 25%);
  --color_text_alt: hsl(46, 2%, 35%);
  --color_accent:   hsl(230, 100%, 47%);
  --paper_width:      39rem;
}

/*--------------------------------------- 1. Page & Main -----------------------------------------*/

* {
  box-sizing: border-box; // Include padding and borders into size calculation
}

html {
  font-size: large; // Root font size is used as a metric for sizes in the following code
}

body {
  min-width: 280px;
  margin: auto;
  background-color: var(--color_space);
}

main {
  min-width: 4em;
  max-width: var(--paper_width);
  margin: 37vh auto 0 auto;
  padding: 5em;
  background-color: var(--color_paper);
  border-radius: 3px;
}

article {
  width: auto;
  height: auto;
  margin: auto;
  color: var(--color_text);
  font-family: 'Noto Serif SC', serif;
  font-weight: 400;
  line-height: 2.1;
  letter-spacing: .038em;
  word-break: normal;
  text-align: justify;

  img,
  video {
    width: 100%;
    height: auto;
    border-radius: 3px;
    object-fit: scale-down;
  }
}

/*-------------------------------------- 2. Contents page ----------------------------------------*/

.contents-page {
  padding-bottom: 2.7em;
}

.contents-table,
.contents-table th,
.contents-table td {
  padding: 0;
  border: none;
}

.contents-table {
  width: 95%;
  margin: 0 auto 2.5em auto;
  letter-spacing: .03em;

  td {
    padding: .8em 0 .8em 0;
    font-family: "Noto Sans SC", sans-serif;
    font-weight: 380;
  }

  th {
    padding-bottom: 1em;
  }
}

.contents-title {
  letter-spacing: .1em;
}

.contents-date-col {
  width: 5.2em;
  text-align: right;
}

.contents-date {
  font-family: "Roboto Mono", monospace;
  font-weight: 370;
  letter-spacing: -.02em;
}

/*-------------------------------------- 3. Page elements ----------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  max-width: 16em;
  margin: 0 auto 0 auto;
  text-align: center;
  letter-spacing: normal;
  line-height: 1.5;
}

p {
  margin: 1.5em 0 1.5em 0;
}

code,
pre {
  font-family: "Roboto Mono", monospace;
}

pre {
  width: 103%;
  overflow-x: scroll;
}

a:link,
a:visited {
  color: var(--color_text);
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px dotted var(--color_text);
}

a:hover {
  text-decoration: none;
  border-bottom: 3px solid var(--color_accent);
}

figure {
  height: 100vh;
  margin: 0;
  margin-bottom: -35vh;
  display: flex;
  align-items: center;

  img,
  video {
    max-width: 82vw;
    max-height: 82vh;
    margin: auto;
    border-radius: 3px;
    object-fit: scale-down;
  }
}

article table {
  width: 100%;
  margin: 1.5em auto;
  border-collapse: collapse;

  th,
  td {
    padding: .2em .5em;
    border: 1px var(--color_text_alt) dotted;
  }
}

ol,
ul {
  margin: 1.5em auto;
}

/*------------------------------------------ 4. Footer -------------------------------------------*/

footer {
  width: fit-content;
  margin: .8em auto 32vh auto;
  color: var(--color_paper);
  font-family: "Noto Sans SC", sans-serif;
  font-size: 16px;
  font-weight: 480;
  letter-spacing: 0.4em;
  display: flex;
  flex-direction: row;

  table,
  table th,
  table td {
    padding: 0;
    border: none;
  }

  table td {
      width: auto;
      text-align: center;
      padding: 0 .8em .7em .8em;
  }

  a:link,
  a:visited {
    color: var(--color_paper);
    border-bottom: 1px dotted var(--color_paper);
  }

  a:hover {
    color: var(--color_accent);
    border-bottom: 3px solid var(--color_accent);
  }
}

.copyright {
  padding: 3px 0 0 1em;
  letter-spacing: 0;
  text-align: left;
}

/*-------------------------- 5. Adjust to color scheme or width change ---------------------------*/

/* Switch to dark colour scheme */
@media (prefers-color-scheme: dark) {
  body {
    --color_space:    hsl(0, 0%, 12%);
    --color_paper:    hsl(46, 2%, 33%);
    --color_text:     hsl(46, 10%, 90%);
    --color_text_alt: hsl(46, 1%, 60%);
    --color_accent:   hsl(55, 100%, 45%);
  }
}

// Set breakpoint at a width a bit wider than desired paper width
@media screen and ( max-width: 45rem ) { // 45 rem ~= `--paper_width` + 4rem
  main {
    min-width: auto;
    max-width: auto;
    margin: .8em;
    padding: 1.8em;
  }

  h1, h2, h3, h4, h5, h6 {
    max-width: 9em;
  }

  figure {
    margin-bottom: 2vh;

    img,
    video {
      max-width: 88vw;
      max-height: 88vh;
    }
  }

  footer {
    margin-bottom: 1.8em;
    flex-direction: column;
  }

  .copyright {
    text-align: center;
    padding: 1px 0 0 0;
  }

  .contents-table td {
    vertical-align: top;
  }
}

/*--------------------------------- 6. Special page overwrites -----------------------------------*/

.figure-page {
  margin-bottom: 8em;
}

.en-page {
  h1, h2, h3, h4, h5, h6,
  article,
  footer {
    letter-spacing: normal;
  }

  h1, h2, h3, h4, h5, h6 {
    letter-spacing: normal;
    word-spacing: .2em;
  }

  article {
    text-align: center;
    word-spacing: .08em;
  }
}