<footer
  {% if page.figure %}
    class="figure-page"
  {%- endif -%}
>

    {%- if page.copyright -%} {% comment %} Only show copyright if the page sets it {% endcomment %}

    CC BY-NC-SA 4.0 &nbsp; &copy; &nbsp;

      {%- if page.lang == "en" -%}   {% comment %} Add english date and author name {% endcomment %}

        {{- page.date | date_to_long_string: "ordinal" -}}
        &nbsp;・&nbsp;
        {{- site.author-en -}}

      {%- else -%}                    {% comment %} Add normal date and author name {% endcomment %}

        {{- page.date | date: "%Y 年 %-m 月 %-d 日 - %-d %b" -}}
        &nbsp;・&nbsp;
        {{- site.author -}}

      {%- endif -%}

    {%- else -%}                          {% comment %} Add date and site name only {% endcomment %}

      {%- if page.date -%}

          {%- if page.lang == "en" -%}               {% comment %} Add english date {% endcomment %}

            {{- page.date | date_to_long_string: "ordinal" -}}

          {%- else -%}                                {% comment %} Add normal date {% endcomment %}

            {{- page.date | date: "%Y 年 %-m 月 %-d 日 - %-d %b" -}}

          {%- endif -%}

      {%- else -%}

        {{- site.time | date: "%Y-%-m" -}}

      {%- endif -%}

      &nbsp;・&nbsp;
      {{- site.title -}}

    {%- endif -%}

  <nav>
    {%- for item in site.data.nav -%}

      {%- if item.link != page.url -%}

          <a href="{{ item.link }}">{{- item.name -}}</a>

      {%- endif -%}

    {%- endfor -%}
  </nav>

</footer>